{% extends "core/base_site.html" %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">


      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Співробітник</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <!-- Current avatar -->
                      {% if employee.image %}
                        <a href="{% static employee.image.url %}" target="_blank">
                            <img class="img-responsive avatar-view" src="{% static employee.image.url %}" alt="{{card.name}}" title="Change the avatar">
                        </a>
                    {% else %}
                    <img class="img-responsive avatar-view" src="{% static 'images/no_img.png'%}" alt="{{card.name}}" title="Change the avatar">
                    {% endif %}
                  </div>
                </div>
                <h3>{{ employee.first_name }} {{ employee.second_name }}</h3>

                <ul class="list-unstyled user_data">
                  <li><i class="fa fa-mobile-phone user-profile-icon"></i> {{ employee.phone}}
                  </li>

                  <li>
                    <i class="fa fa-briefcase user-profile-icon"></i> {{ employee.position }}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-group user-profile-icon"></i>
                    <a href="http://www.kimlabs.com/profile/" target="_blank">{{ employee.department|title }}</a>
                  </li>
                </ul>

                <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i> Редагувати</a>
                <br /><a class="btn btn-warning"><i class="fa fa-copy m-right-xs"></i> Додати до МВ</a>
                <br />


              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">





                      <!-- start recent activity -->
                      <table class="data table table-striped no-margin">

           <thead>
                  <tr>

                    <th>Інв. номер</th>
                    <th>Назва</th>
                    <th>МВО</th>
                      <th>Початкова вартість</th>
                    <th>Залишкова вартість</th>
                  </tr>
                </thead>
                        <tbody>
                {% for card in employee.cards %}
                  <tr>

                     <td><a href="{% url 'core:card' card.number %}">{{card.number}}</a></td>
                     <td><a href="{% url 'core:card' card.number %}">{{card.name}}</a></td>
                    <td>{{card.responsible_name}}</td>
                    <td>{{card.start_price}}</td>
                    <td>{{card.residual_value}}</td>
                  </tr>
                {% endfor %}
                        </tbody>
                      </table>
                      <!-- end recent activity -->

                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- morris.js -->
  <script src="/static/vendors/raphael/raphael.min.js"></script>
  <script src="/static/vendors/morris.js/morris.min.js"></script>
{% endblock javascripts %}